//仅定义变量

//基础换算
$base-font-size: 16;
$device-pixel-ratio: 2;
$ui-scale-factor: $base-font-size*$device-pixel-ratio;

//基础颜色
$color-light: #fff;
$color-light-dark: #ddd;
$color-stable: #f8f8f8;
$color-stable-dark: #b2b2b2;
$color-positive: #387ef5;
$color-positive-dark: #0c60ee;
$color-calm: #11c1f3;
$color-calm-dark: #0a9dc7;
$color-balanced: #33cd5f;
$color-balanced-dark: #28a54c;
$color-energized: #ffc900;
$color-energized-dark: #e6b500;
$color-assertive: #ef473a;
$color-assertive-dark: #e42112;
$color-royal: #886aea;
$color-royal-dark: #6b46e5;
$color-dark: #444444;
$color-dark-dark: #111;

//头部
$header-height: 44*2;
$header-bg: $color-positive;
$header-color: $color-light;
$header-tit-fs: 16*2;
$header-btn-fs: 14*2;