@import "h";
// The flex layout is constituted of parent container referred as flex container and
// its immediate children which are called flex items.
.ub {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
}

//快速居中盒子的子元素
.ubc{
  @extend .ub;
  @extend .ub-ac;
  @extend .ub-pc;
}

//水平反向
.ub-rev {
  -webkit-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

//垂直排布
.ub-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.ub-fh {
  width: 100%;
}

.ub-fv {
  height: 100%;
}

.ub-con {
  position: absolute;
  width: 100%;
  height: 100%;
}

//垂直对齐
.ub-as {
  -webkit-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.ub-ac {
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.ub-ae {
  -webkit-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.ub-af {
  -webkit-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.ub-ab {
  -webkit-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}


//水平对齐
.ub-ps {
  -webkit-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.ub-pc {
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.ub-pe {
  -webkit-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.ub-pj {
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.ub-par {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.ub-pbt {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}


// FLEX ITEM
// Controlling Column Widths
// <grow> [<shrink> [<basis>]]
// default: 0 1 auto
@for $flex from 1 through 4 {
  .ub-f#{$flex} {
    -webkit-box-flex: #{$flex};
    box-flex: #{$flex};
    -webkit-flex: #{$flex};
    flex: #{$flex};
  }
}
// 1 1 auto
.ub-fa{
  -webkit-flex: auto;
  flex: auto;
}
// 0 0 auto
.ub-fn{
  -webkit-flex: none;
  flex: none;
}
//flex-grow
//default: 0
@for $ub-gr from 0 through 4{
  .ub-gr#{$ub-gr} {
    -webkit-flex-grow: #{$ub-gr};
    flex-grow: #{$ub-gr};
  }
}
//flex-shrink
//default: 1
@for $ub-sr from 0 through 4{
  .ub-sr#{$ub-sr} {
    -webkit-flex-shrink: #{$ub-sr};
    flex-shrink: #{$ub-sr};
  }
}
//flex-basis
//default: auto
@for $ub-bs from 1 through 200{
  $tmp: s($ub-bs);
  .ub-bs#{$ub-bs} {
    -webkit-flex-basis: #{$tmp};
    flex-basis: #{$tmp};
  }
}


//背景图片尺寸
//适应
.ub-img,
.ub-img-sy,
.ub-img-contain
{
  -webkit-background-size:contain;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}
//填充
.ub-img1,
.ub-img-tc,
.ub-img-fill,
.ub-img-fullfill
{
  -webkit-background-size:cover;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
//x轴平铺
.ub-img2,
.ub-img-ppx,
.ub-img-rptx,
.ub-img-repeat-x
{
  background-repeat:repeat-x;
  background-size:auto 100%
}
//y轴平铺
.ub-img3,
.ub-img-ppy,
.ub-img-rpty,
.ub-img-repeat-y
{
  background-repeat:repeat-y;
  background-size:100% auto
}
//全宽居中
.ub-img4,
.ub-img-fwc,
.ub-img-jzy,
.ub-img-cty,
.ub-img-center-y
{
  -webkit-background-size:100% auto;
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position:center;
}
//全高居中
.ub-img5,
.ub-img-fhc,
.ub-img-jzx,
.ub-img-ctx,
.ub-img-centerx,
{
  -webkit-background-size:auto 100%;
  background-size:auto 100%;
  background-repeat:no-repeat;
  background-position:center;
}
//居中
.ub-img6,
.ub-img-jz,
.ub-img-ct,
.ub-img-center
{
  background-repeat:no-repeat;
  background-position:center;
}
//拉伸
.ub-img7,
.ub-img-ls,
.ub-img-stretch
{
  -webkit-background-size:100% 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center;
}