@import "h";

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}

//font-size
@for $fs from 10 through 60 {
  .fs#{$fs} { font-size:s($fs);}
}
//line-height
@for $lh from 10 through 60 {
  .lh#{$lh} { line-height:s($lh);}
}

//padding-left
@for $pl from 1 through 50 {
  .pl#{$pl} { padding-left:s($pl);}
}
//padding-right
@for $pr from 1 through 50 {
  .pr#{$pr} { padding-right:s($pr);}
}
//padding-top
@for $pt from 1 through 50 {
  .pt#{$pt} { padding-top:s($pt);}
}
//padding-bottom
@for $pb from 1 through 50 {
  .pb#{$pb} { padding-bottom:s($pb);}
}
//padding-horizontal
@for $ph from 1 through 50 {
  .ph#{$ph} { padding-left:s($ph);padding-right:s($ph);}
}
//padding-vertical
@for $pv from 1 through 50 {
  .pv#{$pv} { padding-top:s($pv);padding-bottom:s($pv);}
}

//margin-left
@for $ml from 1 through 50 {
  .ml#{$ml} { margin-left:s($ml);}
}
//margin-right
@for $mr from 1 through 50 {
  .mr#{$mr} { margin-right:s($mr);}
}
//margin-top
@for $mt from 1 through 50 {
  .mt#{$mt} { margin-top:s($mt);}
}
//margin-bottom
@for $mb from 1 through 50 {
  .mb#{$mb} { margin-bottom:s($mb);}
}
//margin-horizontal
@for $mh from 1 through 50 {
  .mh#{$mh} { margin-left:s($mh);margin-right: s($mh);}
}
//margin-vertical
@for $mv from 1 through 50 {
  .mv#{$mv} { margin-top:s($mv);margin-bottom: s($mv);}
}

//
@for $width from 1 through 200 {
  .w#{$width} { width:s($width);}
}
@for $height from 1 through 200 {
  .h#{$height} { height:s($height);}
}


