/**
 * 函数d定义
 * @Author mitty.q@outlook.com
 * @CreateAt 2016-12-02 10:35:19
 */
@import "config";


/**
 * UI尺寸转换
 * @param n UI像素度量值
 */
@function s($n){
  @return $n/$ui-scale-factor*1rem;
}

//flex容器
@mixin ub{
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
}
@mixin ub-rev{
  -webkit-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@mixin ub-ver{
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@mixin ub-con{
  position: absolute;
  width: 100%;
  height: 100%;
}

//水平对齐
@mixin ub-ps {
  -webkit-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
@mixin ub-pc{
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@mixin ub-pe {
  -webkit-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@mixin ub-pj {
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@mixin ub-par {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@mixin ub-pbt {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

//垂直对齐
@mixin ub-as{
  -webkit-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@mixin ub-ac{
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@mixin ub-ae{
  -webkit-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
@mixin ub-af{
  -webkit-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
@mixin ub-ab{
  -webkit-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

//
@mixin ub-item($flex: auto){
  -webkit-box-flex: #{$flex};
  box-flex: #{$flex};
  -webkit-flex: #{$flex};
  flex: #{$flex};
}
@mixin ub-gr($ub-gr: 0){
  -webkit-flex-grow: #{$ub-gr};
  flex-grow: #{$ub-gr};
}
@mixin ub-sr($ub-sr: 0){
  -webkit-flex-shrink: #{$ub-sr};
  flex-shrink: #{$ub-sr};
}
@mixin ub-bs($ub-bs: auto){
  $tmp: s($ub-bs);
  -webkit-flex-basis: #{$tmp};
  flex-basis: #{$tmp};
}
