@import "config";

//导航
header,
.m-header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;

  background-color: $header-bg;
  color: $header-color;
}

//导航-按钮容器
.m-header-left,
.m-header-right{
  position: relative;
  z-index: 1;
}

//导航-标题
.m-header-title{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

//导航-按钮
.m-header-btn{
  min-width: $header-btn-width;
}
.m-header-btn:active,
.m-header-btn.active{
  opacity: .5;
}
