@import "h";

//font-size
@for $fs from 10 through 60 {
  .fs#{$fs} { font-size:s($fs);}
}
//line-height
@for $lh from 10 through 60 {
  .lh#{$lh} { line-height:s($lh);}
}

//padding-left
@for $pl from 1 through 50 {
  .pl#{$pl} { padding-left:s($pl);}
}
//padding-right
@for $pr from 1 through 50 {
  .pr#{$pr} { padding-right:s($pr);}
}
//padding-top
@for $pt from 1 through 50 {
  .pt#{$pt} { padding-top:s($pt);}
}
//padding-bottom
@for $pb from 1 through 50 {
  .pb#{$pb} { padding-bottom:s($pb);}
}
//padding-horizontal
@for $ph from 1 through 50 {
  .ph#{$ph} { padding-left:s($ph);padding-right:s($ph);}
}
//padding-vertical
@for $pv from 1 through 50 {
  .pv#{$pv} { padding-top:s($pv);padding-bottom:s($pv);}
}

//margin-left
@for $ml from 1 through 50 {
  .ml#{$ml} { margin-left:s($ml);}
}
//margin-right
@for $mr from 1 through 50 {
  .mr#{$mr} { margin-right:s($mr);}
}
//margin-top
@for $mt from 1 through 50 {
  .mt#{$mt} { margin-top:s($mt);}
}
//margin-bottom
@for $mb from 1 through 50 {
  .mb#{$mb} { margin-bottom:s($mb);}
}
//margin-horizontal
@for $mh from 1 through 50 {
  .mh#{$mh} { margin-left:s($mh);margin-right: s($mh);}
}
//margin-vertical
@for $mv from 1 through 50 {
  .mv#{$mv} { margin-top:s($mv);margin-bottom: s($mv);}
}

//
@for $width from 1 through 200 {
  .w#{$width} { width:s($width);}
}
@for $height from 1 through 200 {
  .h#{$height} { height:s($height);}
}
